@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  background-color: #ffefea;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

.container {
  margin: auto;
  padding: 20px;
}

.btn {
  border: none;
  background-color: salmon;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus,
select:focus {
  outline: none;
}

.btn-toggle {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.text-box {
  position: absolute;
  width: 70%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  padding: 20px;
  transition: all 1s ease-in-out;
}

.text-box select {
  background-color: darksalmon;
  color: #fff;
  border: none;
  height: 30px;
  width: 100%;
  font-size: 12px;
}

.text-box textarea {
  border: 1px solid #dadada;
  color: #fff;
  font-size: 16px;
  height: 150px;
  width: 100%;
  padding: 8px;
  margin: 15px 0;
}

.text-box .btn {
  width: 100%;
}

.text-box .close {
  float: right;
  text-align: right;
  cursor: pointer;
}
